body {
/*font-family: 'Open Sans', sans-serif;
font-family: 'Nunito', sans-serif;*/
font-family: 'Francois One', sans-serif;
background-color: #cbd2d6;


}


h1 {
  font-size: 40px;
  background-color: #fff;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 4px solid black;
  margin-bottom: 20px;
}


#gamearea {
  width: 400px;
  height: 400px;
  background-color: white;
  margin: 100px auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 7px;
  box-shadow: 1px 1px #888888, 2px 2px #888888;
}

#question {
  text-align: center;
  margin: 20px;
}

#countdown {
  display: inline;
}

button {
    font-family: 'Francois One', sans-serif;
    width: 170px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #3f51b5;
    border-radius: 7px;
    border: 2px solid #3f51b5;
}

button:nth-child(even) {
  float: right;
}

button:hover {
  background-color: #3f51b5;
      color: #fff;
}


